@import 'common.sass'
@import 'navigator.sass'
@import 'profile.sass'
@import 'skill.sass'
@import 'education.sass'

.text-center
  text-align: center

.nav-bar
  z-index: 100
  position: fixed
  left: 0
  top: 40%
  width: 5%
  height: 20%

.pages
  overflow: hidden
  height: 100%

.section
  position: absolute
  height: 100%
  width: 100%

.page-before
  transform: translate3d(0, -100%, 0)
  transition: all 0.5s

.current
  transform: translate3d(0, 0, 0)
  transition: all 0.5s
