nav.nav-bar
  height: 30%
  ul.navigator
    height: 100%
    .item
      cursor: pointer
      width: 18px
      height: 18px
      border: 1px solid #000
      border-radius: 50%
      list-style: none
      transition: all 0.3s
      &:hover
        transform: scale(1.2)
        transition: all 0.3s
    .selected
      background-color: #000
      &:hover
        transform: none
