.pages .pro-section
  background-color: #FFEFEF
  .project-title
    padding: 3%
    width: 80%
    text-align: center
    font-size: 2em
  .project-sub-title
    font-size: 1.2em
    text-align: center
    color: #aaa
  .project-detail
    width: 80%
    align-items: flex-start
    border-bottom: 4px solid #ccc
    .project-item
      width: 100%
      flex-wrap: wrap
      padding: 1% 0
      border-bottom: 4px dashed #ccc
      margin-bottom: -4px
      position: relative
      .project-item-title
        font-weight: 600
        font-size: 1.5em
        width: 100%
      .project-item-time
        padding-right: 1%
        width: 29%
        text-align: right
        color: #aaa

      .project-item-tags
        width: 70%
        .project-item-tag
          border-radius: 3px
          background-color: #F0DB4F
          color: #000
          font-size: 12px
          padding: 2px 4px
          vertical-align: middle
          list-style-type: none
          margin-right: 5px
        .LiveScript-tag
          background-color: #80bd01
          color: #fff
        .Jade-tag
          background-color: #FF6600
          color: #fff
        .Sass-tag
          background-color: #FF9900
          color: #fff

      .project-item-preview
        width: 25%
        img
          width: 100%
      .project-item-summary
        word-break: break-all
        width: 70%
        // margin-right: 5%
        padding: 2%

