.pages .pro-section
  background-color: #FFFEF0
  .project-title
    padding: 3%
    width: 80%
    text-align: center
    font-size: 2em
  .project-sub-title
    font-size: 1.2em
    text-align: center
    color: #aaa
  .project-detail
    width: 80%
    align-items: flex-start
    border-bottom: 4px solid #ccc
    margin-bottom: 10px
    .project-item
      width: 96%
      padding: 2%
      flex-wrap: wrap
      border-bottom: 4px dashed #ccc
      margin-bottom: -4px
      position: relative
      justify-content: space-between

      .project-item-title
        font-weight: 600
        font-size: 1.5em
        width: 58%
        margin: 1% 0

      .project-item-tags
        align-items: center
        justify-content: flex-end
        width: 42%
        .project-item-tag
          height: 14px
          border-radius: 3px
          background-color: #F0DB4F
          color: #000
          font-size: 12px
          padding: 2px 4px
          vertical-align: middle
          list-style-type: none
          margin-right: 5px
        .JavaScript-tag, .LiveScript-tag
          background-color: #80bd01
          color: #fff
        .HTML-tag, .Jade-tag
          background-color: #FF6600
          color: #fff
        .CSS-tag, .Sass-tag
          background-color: #FF9900
          color: #fff
        .Ajax-tag
          background-color: #3498DB
          color: #fff

      .project-item-preview
        width: 25%
        img
          width: 100%
      .project-item-link-area
        position: absolute
        bottom: 40px
        right: 2%
        height: 20px
        width: 100%
        text-align: right
        a
          margin-left: 15px
      .project-item-time
        position: absolute
        bottom: 20px
        right: 2%
        height: 20px
        width: 100%
        text-align: right
        color: #aaa


      .project-item-summary
        text-indent: 2em
        word-break: normal
        width: 70%
        padding-left: 4%
        li
          margin-left: 2em
          text-indent: 0

@media only screen and (max-width: 640px)
  .pages .pro-section
    height: auto
    .project-detail .project-item
      .project-item-title
        margin: 0
      .project-item-tags
        width: 100%
        justify-content: flex-start
        margin-bottom: 1%
      .project-item-preview
        width: 100%
      .project-item-summary
        width: 100%
        margin-top: 5px
      .project-item-link-area
        position: static
      .project-item-time
        position: static

