.pages .skill-section
  background-color: azure
  font-family: "Courier New", Courier, monospace
  .skill-section-title
    font-size: 2em
    margin: 20px
  .skill-section-description
    font-size: 1em
    color: #ccc
  .skill
    align-items: flex-start
    // text-shadow: 1px 2px burlywood, 2px 4px #ccc
    font-weight: 400
    font-size: 1em
    height: 70%
    width: 85%

    .item-bar
      background-color: #FFF
      padding-left: 5px
      font-size: 1.5em
      height: 40px
      line-height: 40px
      position: relative
      // transition: all 0.5s linear 0.5s
      .item-bar-info
        position: absolute
        border: 1px solid #ccc
        font-size: 18px
        line-height: 18px
        padding: 0 20px 0 35px
        font-weight: 500
        border-radius: 10px
        opacity: 0
        background-color: rgba(255, 255, 255, 0.7)
        top: 20px
        left: 200px
        z-index: 10
        transition: all 0.5s
        li
          height: 20px
      .item-bar-info-display
        transition: all 0.5s
        opacity: 1

    .item-bar-master
      background-color: #EAF6D0
      border-left: 3px solid #80BD01

    .item-bar-proficient
      background-color: #D6EFFF
      border-left: 3px solid #3498DB

    .item-bar-qualified
      background-color: #FFF6DD
      border-left: 3px solid #FDBC40

    .item-bar-known
      background-color: #FFDDDD
      border-left: 3px solid #FF5522


    // .item-bar-practiced
.current .skill
  .item-bar
    // transition: all 0.5s linear 0.5s
  .item-bar-60
    width: 60%
  .item-bar-65
    width: 65%
  .item-bar-70
    width: 70%
  .item-bar-75
    width: 75%
  .item-bar-80
    width: 80%
  .item-bar-85
    width: 85%
  .item-bar-90
    width: 90%
  .item-bar-95
    width: 95%
  .item-bar-100
    width: 100%

.item-bar
  width: 0

@media only screen and (max-width: 768px)
  .pages .skill-section

