mixin project(pro)
  .section.pro-section.flex-align-column
    .project-title 项目经历
    .project-sub-title X年前端开发，丰富的工作经验
    .project-detail.flex-align-column
      each p in pro
        .project-item.flex-align-row
          .project-item-title= p.title
          ul.project-item-tags.flex-align-row
            each t in p.tags
              li.project-item-tag(class= t+'-tag')= t
              //- li.project-item-tag= t
          .project-item-time= p.time
          .project-item-summary
            !{p.summary}
          .project-item-preview
            img(src= p.preview)
