- var prefix = " item-bar-"

mixin skill(skills)
  .section.skill-section.flex-align-column.justify-center
    .skill-section-title 技术堆栈
    .skill-section-description 熟悉前端布局设计，掌握明了后端开发
    .skill.flex-align-column.justify-space-around
      each item in skills
        .item-bar(class=prefix+item.level+prefix+item.val)= item.name
